<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="js/script.js">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <section class="header-box">
        
            <img src="img/logo.png" alt="logo">
    
            <nav class="header-nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
              </ul>
            </nav>
    
            <div class="menu-burger">
                <i class="fa-solid fa-bars"></i>
            </div>
    
          </section>
    <main>

        <section class="login-form">

            <h2>Login</h2>

            <form action="/" method="POST">

                <input type="text" name="user" name="email" required placeholder="USUARIO / EMAIL">
                
                <input type="password" pattern=".{6,}" name="password" required placeholder="PASS / CLAVE">
                
                <button class="bottom-login" type="submit">Ingresar</button>  
                      
                <button class="bottom-nuevo-usuario" type="submit">Registrarse</button>
                  
            </form>

        </section>          
    </main>

    <footer>

    </footer>