<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/js/script.js">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <section class="header-box">
        
            <img src="/public/img/logo.png" alt="logo">
    
            <nav class="header-nav">
              <ul>
                <li><a href="/views/index.html">Home</a></li>
                <li><a href="/views/productDetail.html">Productos</a></li>
                <li><a href="/views/register.html">Registro</a></li>
                <li><a href="/views/login.html">Login</a></li>
                <li><a href="/views/productCart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href=""><i class="fa-solid fa-user"></i></a></li>
              </ul>
            </nav>
    
            <div class="menu-burger">
                <i class="fa-solid fa-bars"></i>
            </div>
    
          </section>

    <main>
        <div class="contenedor-gral">
            <!--Imagenes-->
            <section class="imagenes">
                
                    <article class="img-mini">
                        <img src="/public/img/auri1.jpg" alt="">
                        <img src="/public/img/auri2.jpg" alt="">
                        <img src="/public/img/auri3.jpg" alt="">
                    </article>

                    <article class="img-grande">
                        <img src="/public/img/auri1.jpg" alt="">
                    </article>
            </section>

            <!--Descripcion-->
            <section class="descripcion">

                <h2 class="descripcion-titulo">Auriculares gamer Razer Kraken X Lite black</h3>

                <p class="descripcion-precio">$6.299</p>
    
                <form class="agregar-carrito" action="#">
                  <input type="button" value="Agregar al carrito">
                </form>
    
                <div class="descripcion-info">
    
                    <h3>Lo que tenés que saber de este producto:</h3>
    
                        <ul>
                            <li>Con micrófono incorporado.</li>
                            <li>Tipo de conector: Jack 3.5 mm.</li>
                            <li>Sonido superior y sin límites.</li>
                            <li>El largo del cable es de 1.3 m.</li>
                            <li>Cómodos y prácticos.</li>
                        </ul>
                </div>

            </section>

            <!--EspecificacioneS-->
            <section class="especificaciones">

                <h3>Especificaciones Técnicas</h2><br>

                <p>
                    Auriculares <br>
                    Frecuencia de respuesta: 12 Hz–28 kHz <br>
                    Impedancia: 32 O a 1 kHz <br>
                    Sensibilidad a 1 kHz: 109 dB
                    Controladores: 40 mm, con imanes de neodimio <br>
                    Diámetro interno de la almohadilla: 65 x 44 mm <br>
                    Tipo de conexión: Analógica de 3,5 mm <br>
                    Longitud del cable: 1,3 metros/4,27 ft <br>
                    Peso aproximado: 250 gramos/0,89 lb <br>
                    Almohadillas ovaladas: Diseñados para cubrir por completo la oreja, con piel sintética para mayor aislamiento y comodidad
                </p><br>
                <p>
                    Micrófono <br>
                    Frecuencia de respuesta: 100 Hz - 10 kHz <br>
                    Relación señal/ruido: > 60 dB <br>
                    Sensibilidad a 1 kHz: -45 ± 3 dB <br>
                    Patrón de captación: brazo de micrófono ECM unidireccional
                </p><br>
                <p>
                    Uso de audio <br>
                    Uso de audio: Dispositivos con conector minijack de audio de 3,5 mm <br>
                    Uso de audio y micrófono: Dispositivos con conector combinado audio y micrófono de 3,5 mm <br>
                    Uso de cable de adaptación de audio y micrófono: dispositivos con conectores de audio y micrófono de 3,5 mm independientes
                </p>


            </section>

            <!--Promociones-->
            <section class="promociones">

                <h3>promociones</h3><br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non vitae eius sed beatae a blanditiis eveniet, soluta illum libero optio iste delectus eaque reiciendis provident magnam magni recusandae neque maxime.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fugiat culpa neque aliquam voluptatum exercitationem, non hic nulla assumenda repellat officia voluptatibus totam esse reiciendis rerum vero! Temporibus, dignissimos qui!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, quae! Iure, vero. Itaque alias id quos maiores aut cum architecto voluptatem, expedita natus modi, temporibus molestias possimus nam dignissimos ea.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias dicta aliquam labore eveniet perferendis explicabo autem sint iusto consectetur minus voluptate necessitatibus deleniti suscipit enim ipsam molestias repudiandae, quasi nulla.</p>
            </section>

        </div>


    </main>
    <footer>

    </footer>
    
</body>
</html>