<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="js/script.js">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <section class="header-box">
        
            <img src="img/logo.png" alt="logo">
    
            <nav class="header-nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/productDetail">Productos</a></li>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
              </ul>
            </nav>
    
            <div class="menu-burger">
                <i class="fa-solid fa-bars"></i>
            </div>
    
          </section>

    <main>
      <section class="productosCarrito">
        <article class="productosCarrito_seleccion">
            <div class="productosCarrito_seleccion_img">
                <img src="img/auri1.jpg" alt="">
            </div>
            <div class="productosCarrito_seleccion_descripcion">
                <h2 class="descripcion-titulo">Auriculares gamer Razer Kraken X Lite black</h3>
            </div>
            <div class="productosCarrito_seleccion_cantidad">
<button class="cantidad-button-resta">-</button><span>1</span><button class="cantidad-button-suma">+</button>
            </div>
            <div class="productosCarrito_seleccion_monto">
                <p class="descripcion-precio">$6.299</p>
            </div>
            </article>
        <article class="productosCarrito_seleccion">
            <div class="productosCarrito_seleccion_img">
                <img src="img/auri1.jpg" alt="">
            </div>
            <div class="productosCarrito_seleccion_descripcion">
                <h2 class="descripcion-titulo">Auriculares gamer Razer Kraken X Lite black</h3>
            </div>
            <div class="productosCarrito_seleccion_cantidad">
<button class="cantidad-button-resta">-</button><span>1</span><button class="cantidad-button-suma">+</button>
            </div>
            <div class="productosCarrito_seleccion_monto">
                <p class="descripcion-precio">$6.299</p>
            </div>
        </article>
        <article class="productosCarrito_totalCompra">
<button>Comprar</button>
<span>$12598</span>
        </article>
        </section>
        <section class="productosRecomendados">
        <div class="productosRecomendados_titulo">
<h2>Recomendaciones para ti</h2>
        </div>
        <article class="productosRecomendados_imagenes">
                <img src="img/auri1.jpg" alt="">
                <img src="img/auri1.jpg" alt="">
                <img src="img/auri1.jpg" alt="">
                            </article>
        </section><section class="productosCarrito">
        <article class="productosCarrito_seleccion">
            <div class="productosCarrito_seleccion_img">
                <img src="img/auri1.jpg" alt="">
            </div>
            <div class="productosCarrito_seleccion_descripcion">
                <h2 class="descripcion-titulo">Auriculares gamer Razer Kraken X Lite black</h3>
            </div>
            <div class="productosCarrito_seleccion_cantidad">
<button class="cantidad-button-resta">-</button><span>1</span><button class="cantidad-button-suma">+</button>
            </div>
            <div class="productosCarrito_seleccion_monto">
                <p class="descripcion-precio">$6.299</p>
            </div>
            </article>
        <article class="productosCarrito_seleccion">
            <div class="productosCarrito_seleccion_img">
                <img src="img/auri1.jpg" alt="">
            </div>
            <div class="productosCarrito_seleccion_descripcion">
                <h2 class="descripcion-titulo">Auriculares gamer Razer Kraken X Lite black</h3>
            </div>
            <div class="productosCarrito_seleccion_cantidad">
<button class="cantidad-button-resta">-</button><span>1</span><button class="cantidad-button-suma">+</button>
            </div>
            <div class="productosCarrito_seleccion_monto">
                <p class="descripcion-precio">$6.299</p>
            </div>
        </article>
        <article class="productosCarrito_totalCompra">
<button>Comprar</button>
<span>$12598</span>
        </article>
        </section>
        <section class="productosRecomendados">
        <div class="productosRecomendados_titulo">
<h2>Recomendaciones para ti</h2>
        </div>
        <article class="productosRecomendados_imagenes">
                <img src="img/auri1.jpg" alt="">
                <img src="img/auri1.jpg" alt="">
                <img src="img/auri1.jpg" alt="">
                            </article>
        </section>

    </main>
    <footer>

    </footer>
    
</body>
</html>