@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
*{
    font-family: 'Barlow Condensed', sans-serif;
box-sizing: border-box; 
padding: 0; 
font-size: 1.02em;
margin-left: auto; 
margin-right: auto;
}
/* Header en celu y tablet */

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 30%;
}
header{
    background-color: rgba(0,0,0,0.9);
    color:#ffffff;
}
header section{
    text-align: center;
}

/* slider */

.slider{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 400px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .slider button {
    height: 30%;
    border-radius: 3px;
    padding: 2%;
  }
  .slider img {
    width: 100%;
    height: 100%;
  }
  .cuadroSliderOculto{
    display: none;
  }
  .slider button {
    border:1px solid grey;
   outline: none;
     box-shadow:-2px 2px #999;
 }
 button:active{
     transform: translateY(1px);
 }

/* Main en celu */
.nosotros__titulo{
   text-align: center;
   margin-top: 9%;
   margin-bottom: -7%;
}
.nosotros__articulos{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 70%;
}


/* Visualización header en compu */
@media only screen and (min-width: 768px)  {
    *{
    font-size: 1.02em;
    }
header{
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   text-align: center;
}
header section{
    width:40%;
    margin-left: 0;
 }
ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end
 }
 ul li{
    margin: 2%;
 }
nav{
    display: flex;
    margin-left: auto;
}
}

/*----------------------------------------------------------------------------*/


/*Product Detal*/

/*Main - Detalle de Producto*/

/*Seccion Gral - contiene 4 cajas (imagenes, descripcion, especificaciones y promociones*/

.contenedor-gral {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    

}

/*Seccion Imagenes*/

.imagenes {
    display: flex;
    justify-content: center;
    /*border: solid 1px var(--gris-claro);*/
    width: 90vw;
    margin: 5px;
    
}

.imagenes .img-mini{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 30%;

}

.imagenes .img-mini img {
    border: solid 1px var(--gris-claro);
    margin: 5px;
    width: 65%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.imagenes .img-grande{
    border: solid 1px var(--gris-claro);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 60%;
}

.imagenes .img-grande img {
    width: 80%;
}

/*Seccion Descripcion*/

.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /*border: solid 1px var(--gris-claro);*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin: 5px;
}

.descripcion h2 {
    font-size: 20px;
    margin: 5px;
}

.descripcion-precio {
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
}



.agregar-carrito input {
    padding: 10px;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: var(--violeta);
    border: var(--violeta) solid 1px;
    border-radius: 5px;
}

.descripcion-info {
    padding-top: 15px;
}

.descripcion ul {
    display: flex;
    flex-direction: column;
    
    list-style: none;
    font-weight: bold;
}

/*Seccion Especificaciones*/

.especificaciones {
    
    padding: 10px;
    border: solid 1px var(--gris-claro);
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    margin: 5px;
    font-weight: bold;
}

/*Seccion Promociones*/

.promociones {
    /* display: none;  (Quitar esta sección?) */
    font-weight: bold;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--gris-claro);
    width: 90vw;
    margin: 5px;
    
}



/*Medias - Detalle de Producto*/

/*Tablets*/

@media only screen and (min-width: 768px)  {
    

    /*Main*/
    /*Ajustando alto y ancho para que se vean de a dos cuadros por linea*/
    
    .imagenes,
    .especificaciones {
        width: 50vw;
    }

    .descripcion,
    .promociones {
        width: 40vw;
    }

}

/*Desktop*/
@media only screen and (min-width: 992px) {
    

    }
    
/*Huge*/
@media only screen and (min-width: 1280px) {
    

    }
